/* ABOUTページ用CSS */

.block {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 1.1em;
    line-height: 40px;
    width: 100%;
}

.img-wrapper {
    text-align: center;
    margin-bottom: 40px;
}
.img-wrapper img {
    border: #eee 1px solid;
    width: 90%;
}

.subtitle {
    font-size: 1.2em;
    font-weight:bold;
    margin-bottom: 30px;
    background-color: #fffaf4;
    border-left: solid 5px #FFDE05;
    color:#333;
    padding: 15px;
}

.text-wrapper {
    width: 90%;
    margin: 0 auto;
}

/* リスト */
.text-wrapper ul {
    margin-bottom: 20px;
    font-weight: bold;
    border: solid 1px whitesmoke;
    box-shadow :0px 0px 3px silver;
    border-radius: 3px;
    background-color: #fafafa;
    padding: 10px 20px 10px 50px;
}
.list-item li:before{
    content:  "";
    width:  8px;
    height:  8px;
    display:  inline-block;
    background-color: #333;
    border-radius:  50%;
    margin-right: 10px;
}

/* spanタグの装飾 */
.under-line {
    background: linear-gradient(transparent 50%, #FFDE05 70%);
    font-weight: bold;
}
.small {
    font-size: 0.8em;
}
.signature {
    font-weight: bold;
}

@media screen and (max-width:640px) {
    .block {
        margin-top: 30px;
        margin-bottom: 70px;
        font-size: 1em;
        line-height: 40px;
        width: 100%;
    }
}